#signOut{
	position:relative;
	top:25%;
	left:90%;
}


#sideBar{
	min-height:81%;
	width:15%;
	float:left;
}

#sideBar ul{
	margin:0px;
}

#sideBar li{
	padding:10px;
	font:normal 16px arial,sans-serif;
	
	list-style-image:url('../images/nav-inactive.png');
}

#sideBar li:hover{
	background:#F1F1F1;
	border-top: 1px solid #C3C3C3;
	border-left: 1px solid #C3C3C3;
	border-bottom: 2px solid #C3C3C3;
	cursor:pointer;
}

#sideBar li:first-child
{
	border-top: 0px; 	
}


#sideBar li:first-child:hover
{
	border-top: 0px; 	
}

#container{
	margin-left:15%;
	border-left: 1px solid #C3C3C3;
}

#container #preloader{
	position:relative;
	top:40%;
	left:40%;
}
