#crawl-form #input{
	width:450px;
	padding:3px;
	margin-top:2px;
	margin-right:6px;
	
	border:1px solid #e5e5e5;
	background:#fbfbfb;
	
	font-size:17px;
}

#crawl-form-div{
	position:relative;
	top:1%;

	min-height:4%;
	width:100%;
	border-bottom: 1px solid #E5E5E5;
	
	font-size: 18px;	
	color:#D84A38;
	z-index:3;
}

#crawl-form{
	padding:1%;
}


#container{
	font-size: 18px;
}

hr {

}